<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320497612221-hcektasj8d3v7r3squ6f7d497e3cue2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320497612221-hcektasj8d3v7r3squ6f7d497e3cue2n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>320497612221-7rk2d03cdu4hkj54vdca1jgefvuh985q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBuN7w4YBXehb2tdx4ga-VRdGiJRrzlU8</string>
	<key>GCM_SENDER_ID</key>
	<string>320497612221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dieu.chat-app</string>
	<key>PROJECT_ID</key>
	<string>chat-app-e6c8a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-e6c8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320497612221:ios:c32c3e7e52840f6b510ed4</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-e6c8a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>